* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #101820; /* Change this to set the overall background color to cyan */
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.div1 {
  display: flex;
  align-items: center;
}

.img-container {
  flex: 1;
}

.img-container img {
  scale: 60%;
}

.txt {
  flex: 1;
  padding: 0 20px; /* Adjust the padding as needed */
}
 